/*
*-------------------------------------------------------------------------------
* all.scss
*-------------------------------------------------------------------------------
*/

#about{
    background: $green;
    min-height: 400px;
    color: $white;
}

#white-ground{
    background: $white;
    min-height: 400px;
}