/*
*-------------------------------------------------------------------------------
* Colors.scss
*-------------------------------------------------------------------------------
*/

$white : #fff;
$black : #000;
$dark-g: #2c3541;
$grey: #c9ced5;
$light-grey: #f7f9fa;
$green : #00B796;
$main-grey: #f7f9fa;
$red: #fa3b5e;