/*
*-------------------------------------------------------------------------------
* Colors.scss
*-------------------------------------------------------------------------------
*/

$white : #fff;
$black : #000;
$dark-g: #2c3541;
$grey: #c9ced5;
$light-grey: #f7f9fa;
$green : #00B796;
$main-grey: #f7f9fa;
$red: #fa3b5e;


// Colors
$body-text-color: #576f7f;
$dark-blue: #011b33;
$gray: #aaaaaa;
$light-blue: #09a5db;
$light-gray: #828282;
$lighter-gray: #f3f5f8;
$orange: #ffaa22;


// New Colors
$lighter-dark-blue: #151526;
$stack-gray: #727377; 
$stack-lighter-gray: #9fa0a4;


// Buttons
$button-default-radius: 3px;
$button-height: 40px;
$button-height-lg: 50px;
$button-height-sm: 30px;